html { background: #FFB94C url({STYLEIMGDIR}/background.jpg) repeat-x 0 0; }
#header { margin-bottom: 0; height: 107px; }
	#header .wrap { padding: 0; height: 107px; }
	#ad_headerbanner { margin: 25px 0px 10px; }
	#menu, #menu a, #menu li.current a { height: 29px; font-weight: 700; }
		#menu li { background: {MENUBGCOLOR} url({STYLEIMGDIR}/menu.jpg) no-repeat 50% 0; }
			#menu li.current { background-color: {MENUHOVER}; background-position: 50% -60px; }
			#menu a { border-top: 0; line-height: 32px; overflow: hidden; }
				#menu li.current a { border: none; background-color:  transparent; }
				#menu a:hover { background: transparent url({STYLEIMGDIR}/menu.jpg) no-repeat 50% -30px; color: {MENUTEXT}; }
					#menu li.current a:hover { background: transparent none; color: {MENUHOVERTEXT}; }
#nav { margin: 0 auto; background-image: url({STYLEIMGDIR}/nav.gif); }
	#nav, #nav a { color: #FFCE00; }
.postbtn, .replybtn { width: 62px !important; background: transparent url({STYLEIMGDIR}/post.gif) no-repeat 0 0 !important;  }
	.replybtn { background-position: 0 -30px !important; }
	.postbtn a, .replybtn a { text-indent: -9999px; }

.list { border-top: none; }
.content .list h3 { padding-left: 10px; background: #FFF3E3 url({STYLEIMGDIR}/tablehead.gif) no-repeat -2px 0; color: #FFF; line-height: 31px; }
	.content .list h3 a { color: #FFF; }
.shadowline { border-top-color: #FFE7B1; border-bottom-color: #FFFAEC; }
.itemfilter .current a, .itemfilter .current span { background-image: none !important; }
	.itemfilter .current span { color: #C00 !important; text-decoration: underline; }