#header { background: transparent none; }
	#header .wrap { {HEADERBGCODE}; }
	#header h2 { padding-left: 15px; }
	#umenu { right: 9px; }
	#menu { bottom: 0; padding-right: 15px; background: url({STYLEIMGDIR}/header-c-b-r.gif) no-repeat 100% 100%; }
		#menu li.current a { border: none; background: #FFF; color: {MENUHOVER}; }
#nav { background-image: url({IMGDIR}/home.gif); }
	#nav, #nav a { color: {TABLETEXT}; }
#wrap { border-bottom: 1px solid {COMMONBORDER}; }
#sidebar_img { z-index: 898; }
#sidebar_img.collapsed_no { margin:0; padding: 6px 35px 6px 0; width: 180px; w\idth: 145px; background: url({STYLEIMGDIR}/side-top.gif) no-repeat 0 0; text-align: right; }
	#sidebar_img.collapsed_no:hover { background-position: 0 -40px !important; }
.with_side .side h2 { margin: 0; padding: 20px 25px 10px; background: url({STYLEIMGDIR}/side-top.gif) no-repeat 0 -80px; }
.shadowline { border-top-color: #EBE6C9; border-bottom-color: #FCF9E6; }
.content { padding-left: 0; padding-right: 0; }
	.with_side .content { padding-right: 25px; }
.postbtn, .replybtn { background-image: url({STYLEIMGDIR}/post.gif) !important; }
.list { border-top: none; }
	.list h3 { margin-bottom: 8px; padding: 0 !important; height: 35px; background: #F9F4CE; }
		.list h3 a { float: left; margin-left: -15px; padding-left: 15px; height: 35px; background: url({STYLEIMGDIR}/title.gif) no-repeat 0 100%; }
		.mainbox h3 { padding-left: 15px !important; background: #F9F4CE url({STYLEIMGDIR}/title.gif) no-repeat 0 100%; }
		#bdayslist a { float: none; background-image: none; }
	.headactions { height: 35px; he\ight: 23px; background: #F9F4CE url({STYLEIMGDIR}/title.gif) no-repeat 100% 0; }
	* html .headactions { margin-left: -3px; }
	 #modarea .list h3 { padding-left: 15px !important; border-bottom: none; background: #F9F4CE url({STYLEIMGDIR}/title.gif) no-repeat 0 100%; }
		#modarea .list h3 a { margin-left: 0; padding-left: 0; background-image: none; }
		#modarea .list h3 .pipe { float: left; }
#ad_text { background: {COMMONBG}; }