<!--{if $attentionlist}-->
<form method="post" action="my.php?item=attention">
	<input type="hidden" name="formhash" value="{FORMHASH}" />
	<table cellspacing="0" cellpadding="0" summary="{lang my_attention_threads}" class="datatable">
		<thead class="colplural">
			<tr>
				<td width="6%"></td>
				<th>{lang subject}</th>
				<td class="forum">{lang forum}</td>
				<td class="nums">{lang forum_moderate_replies}</td>
				<td class="nums">{lang replies}</td>
				<td class="lastpost"><cite>{lang lastpost}</cite></td>
			</tr>
		</thead>
		<tbody>
			<!--{loop $attentionlist $attention}-->
			<tr>
				<td><input class="checkbox" type="checkbox" name="delete[]" value="$attention[tid]"></td>
				<!--{if $attention['newreplies']}-->
				<th><strong><a href="redirect.php?tid={$attention[tid]}&goto=lastpost#lastpost" target="_blank">$attention[subject]</a></strong></th>
				<!--{else}-->
				<th><a href="redirect.php?tid={$attention[tid]}&goto=lastpost#lastpost" target="_blank">$attention[subject]</a></th>
				<!--{/if}-->
				<td class="forum">$attention[forumname]</td>
				<td class="nums">$attention[newreplies]</td>
				<td class="nums">$attention[replies]</td>
				<td class="lastpost"><cite>$attention[lastposter]</cite><em>$attention[lastpost]</em></td>
			</tr>
			<!--{/loop}-->
			<tr>
				<td><input class="checkbox" type="checkbox" name="chkall" id="chkall" onclick="checkall(this.form)" /> <label for="chkall">{lang delete_check}</label></td>
				<th><button type="submit" class="submit" name="attentionsubmit" value="true">{lang submit}</button></th>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
		</tbody>
	</table>
</form>
<!--{else}-->
<table cellspacing="0" cellpadding="0" class="datatable">
	<tr><th><p class="nodata">{lang data_nonexistence}</p></th></tr>
</table>
<!--{/if}-->
<!--{if !empty($multipage)}-->
<div class="pages_btns">$multipage</div>
<!--{/if}-->