
html { background: #55616A url({STYLEIMGDIR}/wrapbg.gif) repeat 0 270px; }
#header, #header .wrap { padding: 0; height: 99px; }
	#header h2, #ad_headerbanner { margin-top:24px; }
#footer, #footer a { color: #D0D5D8; }
#menu { bottom: 2px; }
	#menu li { padding-left: 5px; background: #957353 url({STYLEIMGDIR}/menu.gif) no-repeat 0 0; }
		#menu li a { padding-left: 9px; border: none; background: #55616A url({STYLEIMGDIR}/menu.gif) no-repeat 100% 0; }
		#menu li.current { background-position: 0 -25px; }
			#menu li.current a { background-position: 100% -25px; color: #FFF; }
		#menu li a.dropmenu { background: #55616A url({STYLEIMGDIR}/menu.gif) no-repeat 100% -50px; }
			#menu li.current a.dropmenu { background: #55616A url({STYLEIMGDIR}/menu.gif) no-repeat 100% -100px; }
		#menu li a:hover { color: #D0D5D8; }
#nav { background-image: url({STYLEIMGDIR}/nav.gif); text-indent: 30px; }
#wrap { background: #DAD6C5 url({STYLEIMGDIR}/content.jpg) repeat-y 0 0; }
	#wrap.with_side { background-position: 100% 0; }
.list, .mainbox .adcontent, .mainbox table .threadad td.postauthor, .colplural, .colplural th, .colplural td { background: url({STYLEIMGDIR}/title.gif) repeat-x 0 0; }
.list th { background-image: url({STYLEIMGDIR}/forum.gif); }
	.list th.new { background-image: url({STYLEIMGDIR}/forum_new.gif); }
.shadowline { border-top-color: #C1B79E; border-bottom-color: #DAD6C5; }
.mainbox table td.postauthor, .forumcontrol table .modaction { background: #DAD6C5 url({STYLEIMGDIR}/author.jpg) repeat-y 100% 0; }
.forumcontrol table { background: transparent !important; }
	.forumcontrol table.narrow td { padding-top: 10px; }
.signatures { background-image: url({STYLEIMGDIR}/sign.gif) !important; }
.content { background: none!important; }
.blockcode { border: none !important; background: transparent url({STYLEIMGDIR}/code.jpg) repeat-y 5px 0 !important; }
	.blockcode ol li:hover { background: transparent !important; }
.quote { background: #C7C3B1 url({STYLEIMGDIR}/quote1.gif) no-repeat 10px 6px !important; }
	.quote blockquote { background: url({STYLEIMGDIR}/quote2.gif) no-repeat 100% 100% !important; }
