.editor_tb { margin: 5px 0 0; width: 600px; height: 26px; border: 1px solid; border-color: {INPUTBORDERDARKCOLOR} {INPUTBORDER} {INPUTBORDER} {INPUTBORDERDARKCOLOR}; background: {COMMONBG}; border-bottom: none; }
	.editor_tb .right a { color: {HIGHLIGHTLINK}; }
	.editor_tb .right { padding-right: 10px; line-height: 26px; }
	.editor_tb div a { float: left; margin: 5px 3px 0; width: 16px; height: 16px; background: url(../../images/common/editor.gif) no-repeat; text-indent: -9999px; line-height: 16px;  overflow: hidden; }
		.editor_tb div a.tb_bold { background-position: -3px -1px; }
		.editor_tb div a.tb_color { background-position: -3px -81px; }
		.editor_tb div a.tb_img { background-position: -3px -823px; }
		.editor_tb div a.tb_link { background-position: -3px -121px; }
		.editor_tb div a.tb_quote { background-position: -3px -441px; }
		.editor_tb div a.tb_code { background-position: -3px -461px; }
		.editor_tb div a.tb_smilies { background-position: -2px -803px; }
		.editor_tb div a.tb_imme { background-position: -3px -763px; }
	.editor_tb .popupmenu_popup td { padding: 0 !important; height: 14px; width: 14px; }
		.editor_tb .popupmenu_popup td div { height: 10px; width: 10px; cursor: pointer; }
.float_post .editor_tb { width: 566px; }
.float_post .txtarea { width: 562px; height: 257px; }