/* [ Poll ] */
.pollchart { margin-bottom: 15px; }
	.pollchart h4 a { color: #09C; text-decoration:underline; }
	.pollchart table { table-layout: fixed; }
	.pollchart table td { padding: 4px 2px; vertical-align: middle; }
		.selector { width: 20px; }
		td.optionvessel { padding-left: 22px !important; }
		.polloption { width: auto; }
			.polloption.vote label { cursor: pointer; }
		.optionvotes { width: 100px; }
			.optionbg { height: 16px; background: #FAFAFA; }
			.polloptionbar { height: 16px; }
				.pollcolor1 { background: #E92725; }
				.pollcolor2 { background: #F27B21; }
				.pollcolor3 { background: #F2A61F; }
				.pollcolor4 { background: #5AAF4A; }
				.pollcolor5 { background: #42C4F5; }
				.pollcolor6 { background: #0099CC; }
				.pollcolor7 { background: #3365AE; }
				.pollcolor8 { background: #2A3591; }
				.pollcolor9 { background: #592D8E; }
				.pollcolor0 { background: #DB3191; }
				.pollvote1 { color: #E92725; }
				.pollvote2 { color: #F27B21; }
				.pollvote3 { color: #F2A61F; }
				.pollvote4 { color: #5AAF4A; }
				.pollvote5 { color: #42C4F5; }
				.pollvote6 { color: #0099CC; }
				.pollvote7 { color: #3365AE; }
				.pollvote8 { color: #2A3591; }
				.pollvote9 { color: #592D8E; }
				.pollvote0 { color: #DB3191; }
	.pollchart #pollsubmit { margin-left: 18px; }
	.pollchart { width: 600px; }
		.pollchart .solidline { margin: 0; padding: 0; }
	.pollinfo { margin: 15px 0; color: {MIDTEXT}; }
		.pollinfo strong { color: {TABLETEXT}; }
		.pollinfo a { color: {HIGHLIGHTLINK}; }
	.polltimer { margin: -10px 0 15px 0; }

/* [ Trade ] */
.postmessage h2.tradename, h2.videoname { font-size: 14px; }
.tradethread .postmessage { min-height: 160px; }
	* html .tradethread .postmessage { height: 360px !important; }
	.tradethread .postauthor dt, .tradethread .postauthor dd { height: 20px; overflow: hidden; }
.tradectrl { margin-top: 20px; background: #09C; height: 30px; line-height: 30px; color: #FFF; }
	.tradectrl a { margin: 0 6px; height: 30px; line-height: 30px; color: #FFF; }
	.tradectrl em { float: right; line-height: 30px; color: #FFF; padding-right: 6px; }
dl.tradethumblist {  text-align: left; padding: 10px; height: 124px; }
	.thumblist { width: 104px; border: 1px solid #EFEFEF; text-align: center; float: left; overflow: hidden; }
		.thumblist img { vertical-align: middle; cursor: pointer; margin: 4px; }
	dl.tradethumblist dd { margin-left: 120px; }
	dl.tradethumblist p { height: 1.6em; overflow: hidden; }
	dl.tradethumblist p.tradename { line-height: 18px; margin-top: 5px; }
	dl.tradethumblist del { color: {LIGHTTEXT}; }
	dl.tradethumblist strong.price { font-size: 18px; color: {NOTICETEXT}; }
	.infoview { float: right; padding-left: 16px; background: url({IMGDIR}/arrow_down_big.gif) 0 50% no-repeat; }
.treadbox { min-height:110px; border-bottom: 1px dashed {COMMONBORDER}; }
* html treadbox { height: 110px; }
.tradeinfo { padding: 15px 0 0; border-bottom: 1px dashed {COMMONBORDER}; }
	.tradeinfo h2 { font-size: 16px; {HIGHLIGHTLINK}; padding: 5px; margin-bottom: 1em; }
	.tradethumb { float: left; }
		.tradethumb { width: 260px; text-align: center;}
		.tradeattribute { margin-left: 280px; }
		.tradeattribute h4 { font-size: 14px; font-weight: 700; padding: 2px; color: {HIGHLIGHTLINK}; }
		.tradeattribute img { vertical-align: middle; }
			.tradeattribute dl { overflow: hidden; height: auto; width: 300px; padding: 0; padding-bottom:2em !important; margin-bottom: 10px;  }
				.tradeattribute dt { float: left; width: 5em; padding: 2px; line-height: 14px; clear: left; }
				.tradeattribute dd { padding: 2px; line-height: 14px; }
					.tradeattribute em, .tradeattribute del { color: {LIGHTTEXT}; }
					.tradeattribute strong { font-size: 14px; font-weight: 700; color: {NOTICETEXT}; }
	.sellerinfo { float: right; display: inline; margin-right: 1em; width: 180px; }
		.sellerinfo h4 { border-bottom: 1px dotted {COMMONBORDER}; }
		.sellerinfo dl { margin: 1em; }
	.tradeinfo .postmessage { padding: 10px; }

	.specialtable { border-bottom: 1px dashed #999; padding: 10px 0; }
		.specialtable table { table-layout: fixed; }
			.specialtable table th { width: 80px; font-weight: 700; }
			.specialtable table th, .specialtable table td { height: 14px; padding: 4px; }
			.actnum { width: 60px; }
			.actctrl { width: 120px; }
				.actctrl a { color: #09C; }
			.actnotice { border: 1px solid #F99; background: #FFF7F7; color: #C00; padding: 6px; }

/* [ Debate ] */
#umpirepoint { margin: 10px 0; padding: 10px 0; border-bottom: 1px dashed {COMMONBORDER}; }
	#umpirepoint .dbresult * { line-height: 23px; }
		.dbresult label { float: left; margin-right: 20px; padding: 0 50px 0 10px; background: url({IMGDIR}/winner_flag.gif) no-repeat 100% 50%; color: #FFF; line-height: 23px; }
		.dbresult .winner_1 { background-color: #09C; }
		.dbresult .winner_2 { background-color: #F60; }
		.dbresult .winner_0 { background-color: #F8F8F8; color: #444; }
		.dbresult label strong { margin-right: 5px; font-size: 16px; }
	#umpirepoint .umpirepoint { padding-top: 10px; line-height: 1.6em; }
	.bestdebater { padding-top: 8px; font-size: 1.17em; color: #F60; }
.debatesquare { margin-top: 1em; }
	.debatesquare table, .debater table { width: 600px; }
	.debatesquare td { vertical-align: bottom; }
		.debatesquare .stand_1, .debatesquare .stand_2 { width: 60px; }
		.point_chart { position: relative; width: 48px; height: 150px; text-align: center; color: #09C; background: #F5F5F5; }
			.stand_2 .point_chart { color: #F60; }
			.point_chart * { position: absolute; left: 0; bottom: 0; width: 48px; }
			.point_chart label { bottom: 5px; font-weight: bold; }
				.point_chart div label { color: #FFF; }
		.debatesquare .point { width: 48px; line-height: 30px; text-align: center; font-size: 14px; font-weight: bold; }
			.stand_1 .point { background: #CEF3FF; color: #09C; }
			.stand_2 .point { background: #FFEDE1; color: #F60; }
		.point_chart .chart { overflow: hidden; }
			.stand_1 .chart { background: #09C; }
			.stand_2 .chart { background: #F60; }
		.piont_info * { line-height: 1.6em; }
			.piont_info p { margin: 5px 0; }
.debater { margin: 15px 0; }
	.debater td { padding-top: 10px; border-top: 1px solid #CEF3FF; vertical-align: top; }
		.debater td.stand_2 { border-color: #FFEDE1; }
	.debater h5 { margin-bottom: 10px; }
		.debater h5 a { float: right; color: #09C; font-weight: 400;  }
			.debater .stand_2 h5 a { color: #F60; }
	.debateuser a img{ margin: 0 8px 6px 0; }
.debatesquare th, .debater th { width: 26px; }
.debatevote { float: right; margin-top: 7px; width: 115px; height: 22px; background: #06C url({IMGDIR}/stand_label.gif) no-repeat 0 0; line-height: 22px; text-align: center; }
	.poststand_2 { background-color: #F60; }
	.poststand_0 { background-color: #F5F5F5; background-position: 0 -30px; }
	.debatevote label { float: left; width: 40px; }
		.debatevote label a { color: #FFF; }
			.poststand_0 label { width: 115px; }
		.poststand_0 label a { color: #444; }
	.debatevote span { float: left; width: 75px; color: #06C; }
		.poststand_2 span { color: #F60; }
		.debatevote span a { margin-right: 3px; }

/* [ Activity ] */
.activity_info { margin-bottom: 15px; }

/* [ Reward ] */
.special_reward { padding-left: 70px; background: url({IMGDIR}/legend_reward.gif) no-repeat 0 5px; }
	.reward_price { padding: 10px 0; font-weight: 700; font-size: 14px; }
		.reward_price strong { color: {NOTICETEXT}; }
	.reward_button { margin: 10px 0; }
	.reward_bestpost { width: 530px; }
	.reward_bestpost td, .reward_bestpost th { padding: 5px; vertical-align: top; }
		.reward_bestpost thead td, .reward_bestpost thead th { border-top: 1px solid {NOTICETEXT}; background: {SEPACIALBG}; }
		.reward_bestpost th { width: 60px; }