<table cellspacing="0" cellpadding="0" summary="{lang my_replys}" class="datatable">
	<thead class="colplural">
		<tr>
			<td class="folder">&nbsp;</td>
			<td class="icon">&nbsp;</td>
			<th>{lang thread}</th>
			<td class="forum">{lang forum}</td>
			<!--{if !$uid}-->
				<td class="nums">
					<select onchange="window.location='my.php?item=posts&filter=' + this.value + '$fidadd'">
						<option value="">{lang status}</option>
						<option value="recyclebin"<!--{if $filter == 'recyclebin'}--> selected="selected"<!--{/if}-->>{lang forum_recyclebin}</option>
						<option value="aduit"<!--{if $filter == 'aduit'}--> selected="selected"<!--{/if}-->>{lang my_threads_aduit}</option>
						<option value="close"<!--{if $filter == 'close'}--> selected="selected"<!--{/if}-->>{lang my_threads_close}</option>
						<option value="common"<!--{if $filter == 'common'}--> selected="selected"<!--{/if}-->>{lang my_threads_common}</option>
					</option>
				</td>
			<!--{/if}-->
			<td class="lastpost"><cite>{lang order_lastpost}</cite></td>
		</tr>
	</thead>
	<!--{if $postlist}-->
		<tbody>
			<!--{loop $postlist $key $post}-->
				{eval $thread = $threads[$post[tid]];}
				<tr>
					<td class="folder">
						<a href="redirect.php?goto=findpost&pid=$post[pid]&ptid=$post[tid]" target="_blank">
						<!--{if $thread[folder] == 'lock'}-->
							<img src="{IMGDIR}/folder_lock.gif" /></a>
						<!--{else}-->
							<img src="{IMGDIR}/folder_$thread[folder].gif" /></a>
						<!--{/if}-->
					</td>
					<td class="icon">
					<!--{if $thread['special'] == 1}-->
						<img src="{IMGDIR}/pollsmall.gif" alt="{lang thread_poll}" />
					<!--{elseif $thread['special'] == 2}-->
						<img src="{IMGDIR}/tradesmall.gif" alt="{lang thread_trade}" />
					<!--{elseif $thread['special'] == 3}-->
						<img src="{IMGDIR}/rewardsmall.gif" alt="{lang thread_reward}" <!--{if $thread['price'] < 0}-->class="solved"<!--{/if}--> />
					<!--{elseif $thread['special'] == 4}-->
						<img src="{IMGDIR}/activitysmall.gif" alt="{lang thread_activity}" />
					<!--{elseif $thread['special'] == 5}-->
						<img src="{IMGDIR}/debatesmall.gif" alt="{lang thread_debate}" />
					<!--{else}-->
						$thread['icon']
					<!--{/if}-->
					</td>
					<th><a href="redirect.php?goto=findpost&pid=$post[pid]&ptid=$post[tid]" target="_blank">{$threads[$post[tid]][subject]}</a></th>
					<td class="forum"><a href="forumdisplay.php?fid=$post[fid]" target="_blank">$post[forumname]</a></td>
					<!--{if !$uid}-->
						<td class="nums"><!--{if $post[invisible] == '-1'}-->{lang forum_recyclebin}<!--{elseif $post[invisible] == '-2'}-->{lang my_threads_aduit}<!--{elseif $post[closed] == '1'}-->{lang my_threads_close}<!--{else}-->{lang my_threads_common}<!--{/if}--></td>
					<!--{/if}-->
					<td class="lastpost">
						<em>$post[dateline]</em>
					</td>
				</tr>
				<tr>
					<td class="folder">&nbsp;</td>
					<td class="icon">&nbsp;</td>
					<th colspan="4" class="lighttxt">$post[message]</th>
				</tr>
			<!--{/loop}-->
		</tbody>
	<!--{else}-->
		<tr>
			<td class="folder">&nbsp;</td>
			<td class="icon">&nbsp;</td>
			<th colspan="4"><p class="nodata">{lang data_nonexistence}</p></th>
		</tr>
	<!--{/if}-->
</table>
<!--{if !empty($multipage)}--><div class="pages_btns">$multipage</div><!--{/if}-->