html { background: #E6A267 url({STYLEIMGDIR}/bg.jpg) repeat-x 0 0; }

#header .wrap { padding: 30px 0; }
#menu { bottom: -1px; }
#menu a { border: none; }
	#menu a:hover { background-color: transparent; }
	#menu li.current a { *height: 25px; border: solid {HEADERBORDERCOLOR}; border-width: 0 1px; background: {MENUHOVER} url({STYLEIMGDIR}/menu.gif) repeat-x 0 0; overflow: hidden; }
#nav { margin-top: -9px; padding-left: 10px; w\idth: 950px; background: url({STYLEIMGDIR}/nav.jpg) no-repeat 0 100%; line-height: 36px; text-indent: 0; }
	#nav, #nav a { color: #FFBAD5; }
	#nav:before { z-index: 999; content: " "; display: block; margin: -44px -35px -37px -45px; width: 70px; height: 73px; background: transparent url({STYLEIMGDIR}/star.png) no-repeat 0 0; }
	#style_switch { right: 10px; }
.shadowline { border-top-color: #F1E4D6; border-bottom-color: #FFF; }
.side .shadowline { border-top-color: #60001B; border-bottom-color: #78132D; }
.list { border-top: none; margin-bottom: 20px; }
	.list td, .list th { border-top-style: solid; }
	.list h3 { font-size: 1.17em; color: #CA1848; }
.side , side a, .side .textinfolist li a { color: #FFDCEB; }
.sidebox h4, .sidebox h4 a { color: #F59C65; }
.ad_text { margin-bottom: 0; background: #21060D; }
.ad_footerbanner { margin: 0 auto; }
.headermenu_popup li, .postmenu a, #visitedforums_menu a { border-bottom-color: #60001B; color: {HIGHLIGHTLINK}; }
	.headermenu_popup a { color: {HIGHLIGHTLINK}; }
#footer { padding-top: 0; }
#footer .wrap { background: #120406 url({STYLEIMGDIR}/footer.gif) repeat-y 0 0; }
	#rightinfo, #footlink { padding: 10px; height: 60px; he\ight: 40px; }
		#rightinfo { background: url({STYLEIMGDIR}/footer-c-b-l.gif) no-repeat 0 100%; }
		#footlink { background: url({STYLEIMGDIR}/footer-c-b-r.gif) no-repeat 100% 100%; }