html { background: #C1A57D url({STYLEIMGDIR}/htmlbg.gif); }
#header { margin-bottom: 0; }
#header .wrap { padding: 0; height: 128px; }
	#menu { right: 20px; height: 30px; }
		#menu li { height: 30px; background: #F8F8F5 url({STYLEIMGDIR}/menu.gif) no-repeat 0 0; opacity: 0.95; filter: alpha(opacity=95); }
		#menu a { border: none; height: 30px; background: url({STYLEIMGDIR}/menu.gif) no-repeat 100% -40px !important; line-height: 35px; }
			#menu a.dropmenu { background-position: 100% -80px !important; }
		#menu li.current {  opacity: 1; filter: alpha(opacity=100); }
			#menu li.current a { color: #099; font-weight: 700; }
	#style_switch { padding: 14px 15px 0 0; background: url({STYLEIMGDIR}/corner_t_r.gif) no-repeat 100% 0; }
#nav { margin: 0 auto; border-bottom: 1px solid #E8ECE6; background: #F8F8F5 url({STYLEIMGDIR}/icon_nav.gif) no-repeat 0 0; text-indent: 45px; }
.shadowline { border-top-color: #D2DACE; }
.list th { background-image: url({STYLEIMGDIR}/forum.gif); }
	.list th.new { background-image: url({STYLEIMGDIR}/forum_new.gif); }
.postbtn { background-image:url({STYLEIMGDIR}/post.gif) !important; }
.replybtn { background-image:url({STYLEIMGDIR}/reply.gif) !important; }
#footer { padding: 0 0 55px 0; background: url({STYLEIMGDIR}/footer.gif) no-repeat 50% 100%; }
	#footer .wrap { background: #FFF; }
		#rightinfo { padding: 10px 15px; background: url({STYLEIMGDIR}/corner_b_l.gif) no-repeat 0 100%; }
		#footlink { padding: 10px 15px; background: url({STYLEIMGDIR}/corner_b_r.gif) no-repeat 100% 100%; }
#ad_headerbanner { margin-top: 25px; }
.ad_footerbanner { width: {WRAPWIDTH}; background: {WRAPBG}; }
.ad_text, .ad_footerbanner { margin: 0 auto; }
#wrap, .ad_text { border-bottom: 1px solid #E8ECE6; }