
#header .wrap { padding: 0; height: 244px; background: url({STYLEIMGDIR}/header.gif) no-repeat 0 100%; }
#header h2 { width: 630px; height: 230px; background: url({STYLEIMGDIR}/xmas.gif) no-repeat 100% 100%; }
#ad_headerbanner { position: absolute; right: 0; top: 35px; }
#umenu { top: 5px; padding-right: 10px; background: url({STYLEIMGDIR}/umenu.gif) no-repeat 100% 0; line-height: 30px; }
	#umenu a.noborder { float: left; margin-left: -10px; padding-left: 10px; display: inline; background: url({STYLEIMGDIR}/umenu.gif) no-repeat 0 -30px; }
		* html #umenu a.noborder { margin-left: 0; background-position: 0 100%; }
	#umenu a { margin: 0 2px; }
	#umenu .pipe { margin: 0 2px; color: #FAABA4; }
#menu { right: 15px; bottom: 4px; padding-right: 11px; height: 36px; background: #DC4F57 url({STYLEIMGDIR}/menu.gif) no-repeat 100% -36px; }
		#menu li { margin: 0; padding-left: 1px; background: url({STYLEIMGDIR}/menu.gif) no-repeat 0 -72px; }
			#menu a { height: 36px; border: none; line-height: 36px; }
				#menu li a:hover, #menu li.current a { height: 36px; background-color: transparent; color: #A11A18; }
					#menu a#mn_index { margin-left: -1px; padding-left: 25px; background: url({STYLEIMGDIR}/menu.gif) no-repeat 0 0; }
#style_switch { bottom: -22px; right: 15px; }
#nav { height: 31px; background: url({STYLEIMGDIR}/nav.gif) no-repeat 0 0; line-height: 31px; text-indent: 40px;  }
.shadowline { border-top-color: #F7C2C2; }
#wrap, #ad_text { w\idth: 960px; border: solid #DC4F57; border-width: 0 4px; }
	#ad_text { margin-bottom: 0; background: #FFF; }
	#wrap { border-bottom-width: 4px; }
		.content { background: url({STYLEIMGDIR}/content_snow.gif) repeat-x 0 0; }
		.side {  background: url({STYLEIMGDIR}/side_snow.gif) no-repeat 0 -31px; }
			.special .side { background: url({STYLEIMGDIR}/content_snow.gif) repeat-x 0 0; }
			#sidebar_img.collapsed_no { margin: 0; padding: 6px 30px 6px 0; width: 180px; w\idth: 150px; background: url({STYLEIMGDIR}/side_snow.gif) no-repeat 0 0; text-align: right; }
				#sidebar_img.collapsed_no:hover { background-position: 0 0 !important; }
.list { border-top-width: 1px; }
	.list h3 { border-top: 1px solid {WRAPBG}; background: {SPECIALBG}; }
	.list th { background-image: url({STYLEIMGDIR}/forum.gif); }
		.list th.new { background-image: url({STYLEIMGDIR}/forum_new.gif); }
.postbtn, .replybtn { background-image: url({STYLEIMGDIR}/post.gif) !important; }
	.replybtn { background-position: 0 -30px !important; }
#rightinfo { padding-left: 45px; background: url({STYLEIMGDIR}/footer.gif) no-repeat 0 50%; }